@import "../../styles/_mixins.scss", "../../styles/_variables.scss";

.user-list {
    @include base;

    .list{
        max-height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .user {
            @include list-item;
            justify-content: space-around;
            width: 60%;
            .info{
                display: flex;
                flex-direction: column;
            }
            .buttons {
                .are-you-sure-box{
                    @include are-you-sure-box
                }
            }
        }
    }
}

@media (max-width: $media-laptop){
    .user-list{
        .list{
            .user{
                height: 30vh;
                width: 70%
            }
        }
    }
}

@media (max-width: $media-tablet){
    p{
        font-size: 11px;
    }
    .user-list{
        .list{
            .user {
                height: 20vh;
                width: 80%;
                h3 {
                    font-size: 11px;
                }
                .buttons {
                    button {
                        font-size: 9px;
                    }
                }
            }
        }
    }
}

@media (max-width: $media-mobile){
    p{
        font-size: 8px;
    }
    .user-list{
        .list{
            .user {
                height: 14vh;
                h3 {
                    font-size: 8px;
                }
                .buttons {
                    button {
                        font-size: 7px;
                    }
                }
            }
        }
    }
}