@import "../../styles/_mixins.scss", "../../styles/_variables.scss";

.catalog {
    @include base;
    
    .add-book-box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .add-book-buttons {
            @include button;
            margin: 30px;
            color: black;
            font-size: 24px;
        }

        #add-book-button {
            color: $tertiary-color;
        }

        form {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgb(252, 252, 152);
            border-radius: 15%;
            margin-top: 2%;
            input {
                margin: 10px;
                height: 50%;
                width: 40%;
            }
        }
    }
    .book-list {
        height: fit-content;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .book {
            @include list-item;
            width: 40%;
            .buttons {
                button {
                    margin: 16px;
                }
                .are-you-sure-box{
                    @include are-you-sure-box
                }
            }
        }
    }
}

@media (max-width: $media-laptop){
    .catalog{
        .book-list{
            .book{
                width: 80%
            }
        }
    }
}

@media (max-width: $media-tablet){
    p{
        font-size: 11px;
    }
    .catalog{
        .add-book-buttons {
            font-size: 9px;
        }
        .book-list{
            .book {
                height: 25vh;
                width: 80%;
                h1 {
                    font-size: 16px;
                }
                h2 {
                    font-size: 13px;
                }
                h3 {
                    font-size: 11px;
                }
                .buttons {
                    button {
                        font-size: 9px;
                    }
                }
            }
        }
    }
}

@media (max-width: $media-mobile){
    p{
        font-size: 8px;
    }
    .catalog{
        .add-book-box{
            .add-book-buttons{
                font-size: 7px
            }
        }
        .book-list{
            .book {
                height: 15vh;
                h1 {
                    font-size: 12px;
                }
                h2 {
                    font-size: 10px;
                }
                h3 {
                    font-size: 8px;
                }
                .buttons {
                    button {
                        font-size: 7px;
                    }
                    .are-you-sure-box{
                    button{
                        margin: 2px;
                    }
                }
                }
            }
        }
    }
}