$base-color: rgb(141, 186, 238);
$button-color: rgb(117, 154, 184);
$list-color: rgb(7, 224, 54);
$tertiary-color: rgb(230, 230, 230);
$delete-color:  rgb(151, 0, 0);

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Courier New', Courier, monospace;

$media-laptop: 1280px;
$media-tablet: 768px;
$media-mobile: 480px;
