$base-color: rgb(47,53,60);
$list-color: rgb(7, 224, 54);
$tertiary-color: white;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Courier New', Courier, monospace;

$media-desktop: 1366px;
$media-tablet: 768px;
$media-mobile: 480px;
