@import "../../styles/_mixins.scss", "../../styles/_variables.scss";

.admin {
    @include base;

    .all-holds{
        max-height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .link {
            color: $tertiary-color;
            text-decoration: none;
            font-size: 32px;
            &:hover {
                font-weight: bold;
            }
        }
        .one-hold {
            @include list-item;
            justify-content: space-around;
            width: 40%;
        }
    }
}

@media (max-width: $media-laptop){
    .admin{
        .all-holds{
            .one-hold{
                width: 70%
            }
        }
    }
}

@media (max-width: $media-tablet){
    .admin{
        .all-holds{
            .link {
                font-size: 28px;
            }
            .one-hold {
                height: 25vh;
                width: 80%;
                h1 {
                    font-size: 14px;
                }
                h2 {
                    font-size: 12px;
                }
                h3 {
                    font-size: 10px;
                }
            }
        }
    }
}

@media (max-width: $media-mobile){
    .admin{
        .all-holds{
            .link {
                font-size: 24px;
            }
            .one-hold {
                height: 15vh;
                h1 {
                    font-size: 10px;
                }
                h2 {
                    font-size: 9px;
                }
                h3 {
                    font-size: 8px;
                }
            }
        }
    }
}