@import "../../styles/_mixins.scss", "../../styles/_variables.scss";

.admin {
    @include base;
    height: fit-content;

    .all-holds{
        max-height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .one-hold {
            @include list-item;
            justify-content: space-between;
            height: 35vh;
            width: 50%;
        }
    }
}

@media (max-width: $media-tablet){
    .admin{
        .all-holds{
            .one-hold {
                h1 {
                    font-size: 14px;
                }
                h2 {
                    font-size: 12px;
                }
                h3 {
                    font-size: 10px;
                }
            }
        }
    }
}

@media (max-width: $media-mobile){
    .admin{
        .all-holds{
            .one-hold {
                h1 {
                    font-size: 10px;
                }
                h2 {
                    font-size: 9px;
                }
                h3 {
                    font-size: 8px;
                }
            }
        }
    }
}