@import "../../styles/_mixins.scss", "../../styles/_variables.scss";

.account {
    @include base;

    input {
        width: 50%;
    }

    .account-info{
        height: 100%;
        max-height: fit-content;
        width: 100%;
        display: flex;
        
        .profile-info {
            height: 100vh;
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        
            button {
                @include button;
                position: relative;
            }

            .pic-box{
                height: 100%;
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                position: relative;

                .profile-picture {
                    height: 36%;
                    width: 70%;
                    margin: 10px;
                    position: absolute;
                    top: 5%;
                    border-radius: 15%;
                }

                .update-button{
                    bottom: 3%;
                }

                .update-box {
                    height: 44%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    top: 14%;
                    
                    .drop-zone{
                        height: 18%;
                        width: 85%;
                        background-color: rgb(149, 88, 209);
                        margin: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 15%;
                        
                    }
                }
            }
        }
    
        .user-holds{
            width: 55%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            .user-hold {
                @include list-item;
                width: 70%;
                .buttons {
                    height: 100%;
                    width: 22%;
                    .are-you-sure-box{
                        @include are-you-sure-box;
                    }
                }
            }
        }
    }
}

@media (max-width: $media-laptop){
    .account{
        .account-info{
            .profile-info {
                .pic-box{
                    .profile-picture{
                        height: 25%;
                    }
                    .update-box{
                        top: 3%;
                        .drop-zone{
                            height: 13%;
                        }
                    }

                    .update-button{
                        bottom: 15%;
                    }
                }
            }
            .user-holds{
                .user-hold {
                    height: 30vh;
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: $media-tablet){
    .account{
        button {
            font-size: 9px;
        }
        h1 {
            font-size: 16px;
        }
        h2 {
            font-size: 13px;
        }
        h3 {
            font-size: 11px;
        }

        .account-info{
            .profile-info {
                .pic-box{
                    .profile-picture{
                        height: 15%;
                    }

                    .update-box{
                        top: 0%;
                        margin-bottom: 90%;
                        .drop-zone{
                            height: 13%;
                        }
                    }

                    .update-button{
                        bottom: 25%;
                    }
                }
            }

            .user-holds{
                .user-hold {
                    height: 22vh;
                    .buttons{
                        button{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $media-mobile){
    .account{
        h1 {
            font-size: 12px;
        }
        h2 {
            font-size: 10px;
        }
        h3 {
            font-size: 8px;
        }
        
        .account-info{
            .profile-info {
                .pic-box{
                    .profile-picture{
                        height: 10%;
                        width: 80%;
                    }
                    .update-box{
                        position: absolute;
                        top: 16%;
                        .drop-zone{
                            height: 15%;
                        }
                        .cancel-button{
                            font-size: 8px;
                        }
                    }

                    .update-button{
                        bottom: 29%;
                        font-size: 8px;
                    }
                }
            }

            .user-holds{
                .user-hold {
                    height: 17vh;
                    width: 90%;
                    .buttons{
                        button{
                            font-size: 8px;
                        }
                    }
                }
            }
        }
    }
}