@import "../../styles/_mixins.scss", "../../styles/_variables.scss";

.account {
    @include base;
    height: 200vh;

    input {
        width: 50%;
    }

    .account-info{
        height: 60vh;
        width: 100%;
        display: flex;
        
        .profile-info {
            height: 100%;
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        
            button {
                @include button;
                position: absolute;
            }

            .pic-box{
                height: 100%;
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                position: relative;

                .profile-picture {
                    height: 50%;
                    width: 70%;
                    margin: 10px;
                    position: absolute;
                    top: 10px
                }

                .update-button{
                    height: 10%;
                    width: 45%;
                    bottom: 30%;
                }

                .update-box {
                    height: 60%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    position: absolute;
                    bottom: 0;
                    
                    .drop-zone{
                        height: 30%;
                        width: 85%;
                        background-color: rebeccapurple;
                    }
                    .cancel-button{
                        height: 10%;
                        width: 35%;
                        bottom: 10%;
                    }
                }
            }
        }
    
        .user-holds{
            height: fit-content;
            width: 55%;
            display: flex;
            flex-direction: column;
            .user-hold {
                @include list-item;
                .buttons {
                    height: 100%;
                    width: 20%;
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: $media-tablet){
    .account{
        button {
            font-size: 9px;
        }
        h1 {
            font-size: 16px;
        }
        h2 {
            font-size: 13px;
        }
        h3 {
            font-size: 11px;
        }

        .account-info{
            .profile-info {
                .pic-box{
                    .profile-picture{
                        height: 25%;
                    }

                    .update-box{
                        bottom: 30%;
                        .drop-zone{
                            height: 20%;
                        }
                        .cancel-button{
                            width: 40%;
                            bottom: 25%;
                        }
                    }

                    .update-button{
                        bottom: 55%;
                    }
                }
            }
        }
    }
}

@media (max-width: $media-mobile){
    .account{
        button {
            font-size: 7px;
            height: 5%;
            width: 60%;
        }
        h1 {
            font-size: 12px;
        }
        h2 {
            font-size: 10px;
        }
        h3 {
            font-size: 8px;
        }
        
        .account-info{
            .profile-info {
                .pic-box{
                    .profile-picture{
                        height: 20%;
                        width: 80%;
                    }
                    .update-box{
                        bottom: 40%;
                        .drop-zone{
                            height: 12%;
                        }
                        .cancel-button{
                            bottom: 30%;
                        }
                    }

                    .update-button{
                        width: 50%;
                    }
                }
            }
        }
    }
}