@import "../../styles/_mixins.scss", "../../styles/_variables.scss";

.register {
    @include base;
    form{
        @include form;

        h3 {
            color: $tertiary-color;
            font-family: $secondary-font;
        }
    }
}

@media (max-width: $media-tablet){

    .register {
        form {
            width: 60%;
            h3 {
                font-size: 16px;
            }

            button {
                width: 70px;
                font-size: 16px;
            }
        }
    }
    
}

@media (max-width: $media-mobile){

    .register {
        form {
            width: 70%;
            button {
                width: 80px;
            }
        }
    }
}