@import "../../styles/_mixins.scss", "../../styles/_variables.scss";

.login {
    @include base;
    form{
        @include form;
    
        h1 {
            color: $tertiary-color
        }

        .link {
            color: $tertiary-color;
            &:hover {
                color: $list-color;
            }
        }
    }
}

@media (max-width: $media-tablet){

    .login {
        h1 {
            font-size: 16px;
        }
        .link {
            font-size: 16px;
        }
    }
    
}

@media (max-width: $media-mobile){

    .login {
        h1 {
            font-size: 12px;
        }
        .link {
            font-size: 12px;
        }
    }
}