@import "../../styles/_variables.scss";

.nav {
    width: 100vw;
    height: 8vh;
    background-color: $nav-color;
    font-family: $primary-font;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    .link {
        text-decoration: none;
        color: $tertiary-color;
        font-size: 24px;
    
        &:hover{
            color: $list-color;
        }
    }

    #logout:hover {
        color: $delete-color
    }
}

@media (max-width: $media-laptop){
    .nav{
        .link{
            font-size: 20px;
        }
    }
}

@media (max-width: $media-tablet){
    .nav{
        .link{
            font-size: 16px;
        }
    }
}

@media (max-width: $media-mobile){
    .nav{
        .link{
            font-size: 12px;
        }
    }
}